<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
      <label>비밀번호</label>
      <input id="password" type="password" name="password">
      <button id="submit" type="submit">로그인</button>
    </form>
    <script>
      const message = '<%= alert %>';
      if (message) {
        alert(message);
      }
    </script>
  </body>
</html>
