<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      user
    </div>
    <div>
      <form action="/logout" method="POST">
        <button type="submit">로그아웃</button>
      </form>
    </div>
  </body>
</html>
